* {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color : #3c3c3c;
	font-size : .98em;
	margin: 0,0,0,0;
}

body {
	margin: 10px;
	background-color: white;
}
main {

max-width:610px;
margin: auto;
}

footer {
	text-align: center;
}

footer p {
	text-align: center;
	background-color: #336699;
	color: white;
	padding-top: .3em;
	padding-bottom: .3em;
}
p {
	margin-top: .5em;
	margin-bottom: .5em;
	text-align: justify;
}

h2{
	background-color: #336699;
	font-size: 1.2em;
	font-style: italic;
	padding-left: .5em;
	padding-top: .3em;
	padding-bottom: .3em;
	color: white;
}

h2 > span{
	font-color: white;
	font-style: italic;
	padding-left: 200px;
	padding-top: .5em;
	color: white;
}

h3{
	font-size: 1em;
	font-style: italic;
    margin-bottom: .03em;
	color: #417ba6;
}
h3+p{
	margin-top: 0.15em;
}/*P wich is the little brother of an  h3*/

ol {
	margin-top : 0.20em;;
}

strong{
	color: dimgrey;

}
a:link {
    color: #669933;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
     color: #bf8c36;
}

a:hover {
	color: dimgrey ;
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color : black;
}